<!DOCTYPE html>
<meta charset="utf-8">

<link href="vlistplay.css" rel="stylesheet">
<title>vListPlay</title>

<script id="vListPlayTemplate" type="text/x-template">
<div v-if="tracks.length > 0">
  <audio
    :src="tracks[current].url"

    id="player"
    preload
    controls

    @loadstart="load"
    @playing="playing = true"
    @pause="playing = false"
    @ended="next">
  </audio>

  <ol id="pl">
    <li
      v-for="(track, index) in tracks"
      :class="{current: index === current}"
      @click="select(index)">
      {{ track.artist }} - {{ track.title }}
    </li>
  </ol>
</div>
</script>

<div id="app">
  <v-list-play></v-list-play>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="vlistplay.js"></script>
<script src="example.js"></script>

