.vListPlay audio {
  width: 100%;
}

.vListPlay ol {
  padding: 0;
  margin: 0;
}

.vListPlay ol li {
  list-style-type: none;
  color: inherit;
  padding: 1em;
}

.vListPlay ol li:nth-child(odd)  { background: #ffffff; }
.vListPlay ol li:nth-child(even) { background: #f8f8f8; }

.vListPlay ol li.current {
  background: #efefef;
}

.vListPlay ol li:hover {
  background: #e5e5e5;
}

